<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" type="text/javascript" charset="UTF-8"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div id="example-1">
            <input v-model="message" placeholder="edit me">
            <p>Message is : {{ message }}</p>
            <textarea v-model="message2" placeholder="add multiple lines"></textarea>
            <p style="white-spcce: pre-line;">{{ message2 }}</p>
        </div>
        <br />

        <div style="margin-top:20px;">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br />
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div style="margin-top:20px">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br />
            <span>Picked: {{ picked }}</span>
        </div>
        <button type="button" @click="submit">提交</button>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                message: "test",
                message2: "hi",
                checkedNames: ['John', 'Jack'],
                picked: "Two"
            },
            methods: {
                submit: function () {
                    console.log(this.message);
                    var postObj = {
                        msg1: this.message,
                        msg2: this.message2,
                        checkval: this.checkedNames,
                    };
                    console.log(postObj)
                }
            }
        });

    </script>
    <style type="text/css">
    </style>
</body>

</html>